Repository prgrms-be-devcourse/NBE4-5-2-Team02, pull requests merged in 2025-03, with the labels that each got.

#3 💄 feat: 마이페이지 내 정보 및 예약 조회 화면 추가
  frontend/.gitignore
  frontend/app/lib/util/scoreIcon.tsx
  frontend/app/mypage/ClientPage.tsx
  frontend/app/mypage/page.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/levelIcon/levelFive.png
  frontend/public/levelIcon/levelFour.png
  frontend/public/levelIcon/levelOne.png
  frontend/public/levelIcon/levelThree.png
  frontend/public/levelIcon/levelTwo.png
Labels: ✨ feat, 👣 Frontend

#5 [FEAT] 이메일 인증 구현 #1
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/VerificationData.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/MailService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/VerificationService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/AsyncConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/mail/MailException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/mail/MailPreparationException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/mail/SmtpConnectionException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/mail/VerificationException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/handler/GlobalExceptionHandler.java
  backend/src/main/resources/application.yml
Labels: ✨ feat, 👀 Backend

#8 [FEAT] 회원 가입 백엔드 로직 추가
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/SignupRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/repository/UserRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/duplicate/DuplicateFieldException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/handler/GlobalExceptionHandler.java
  backend/src/main/java/com/snackoverflow/toolgether/global/init/TestDataInitializer.java
Labels: ✨ feat, 👀 Backend

#10 [FEAT] 예약 상태 변경 백엔드 API 구현 #9
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/entity/DepositHistory.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/entity/ReturnReason.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/repository/DepositHistoryRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/service/DepositHistoryService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/Post.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/PriceType.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/PostService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/dto/ReservationRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/dto/ReservationResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/entity/FailDue.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/repository/ReservationRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/entity/Review.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/entity/User.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/repository/UserRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/dto/RsData.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/CustomException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/ErrorResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/snackoverflow/toolgether/global/init/BaseInitData.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/snackoverflow/toolgether/ReservationControllerTest.java
Labels: ✨ feat, 👀 Backend

#12 [FEAT] 백엔드 로그인 로직 구현 + 충돌 해결 이슈 #11번
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/EmailRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/LoginRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/SignupRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/VerificationData.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/VerificationRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/repository/UserRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/VerificationService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/dto/RsData.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/mail/CustomAuthException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/custom/user/UserNotFoundException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/handler/GlobalExceptionHandler.java
  backend/src/main/java/com/snackoverflow/toolgether/global/util/JwtUtil.java
Labels: ✨ feat, 👀 Backend

#16 [FEAT] 프론트엔드 예약 요청 페이지 구현 (이슈 #15)
  backend/src/main/java/com/snackoverflow/toolgether/global/init/TestDataInitializer.java
  frontend/app/reservation/ClientPage.tsx
  frontend/app/reservation/CustomCalendar.css
  frontend/app/reservation/DataBox.tsx
  frontend/app/reservation/page.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: ✨ feat, 👣 Frontend

#18 [FEAT]마이페이지 유저정보 조회 및 대여일정 조회 로그인 적용 #17
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/repository/PostImageRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/service/PostImageService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/repository/ReservationRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/service/ReviewService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/sevice/ReviewService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/MypageController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/AddressInfo.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/MeInfoResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/MyReservationInfoResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/ServiceException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/init/BaseInitData.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/snackoverflow/toolgether/MypageControllerTest.java
Labels: ✨ feat, 👀 Backend

#22 ✨ feat: 예약 요청 프로세스 완료 페이지 작성
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/controller/DepositController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/dto/DepositResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/entity/ReturnReason.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/service/DepositHistoryService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/service/DepositService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/dto/ReservationResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.java
  backend/src/test/java/com/snackoverflow/toolgether/ReservationControllerTest.java
  frontend/app/reservation/ClientPage.tsx
  frontend/app/reservation/complete/ClientPage.tsx
  frontend/app/reservation/complete/page.tsx
Labels: ✨ feat, 👀 Backend, 👣 Frontend

#24 ♻️ [REFACTOR] 일정 데이터 진행전/중 데이터만 나오도록 수정, 아이콘 변경 #23
  frontend/app/lib/util/scoreIcon.tsx
  frontend/app/mypage/ClientPage.tsx
  frontend/app/mypage/page.tsx
Labels: 👣 Frontend, ♻️ refactor

#26 ✨ feat: 공구 대여 게시물 CRUD 기능 추가 (#25)
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/controller/PostController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostCreateRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostUpdateRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/Category.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/Post.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/PriceType.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/enums/Category.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/enums/PriceType.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/enums/RecurrenceDays.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/PostRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/PostService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/impl/PostServiceImpl.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/dto/PostAvailabilityRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/dto/PostAvailabilityResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/repository/PostAvailabilityRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/repository/PostImageRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/global/dto/RsData.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/BadRequestException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/NotFoundException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/init/BaseInitData.java
  backend/src/main/resources/application.yml
Labels: ✨ feat, 👀 Backend

#31 ✨ Feat: 소셜 회원가입/로그인 로직 구현 issue#19
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/AdditionalInfoRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/entity/User.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/OauthService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/SecurityConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/WebConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/BadRequestException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/NotFoundException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/ServiceException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/CustomUserDetails.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/snackoverflow/toolgether/global/util/JwtUtil.java
  backend/src/main/resources/application.yml
  frontend/Express.js
  frontend/app/additional-info/page.tsx
  frontend/app/api/auth/check/route.ts
  frontend/app/layout.tsx
  frontend/app/lib/auth-context.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/redirect/page.tsx
  frontend/app/signup/page.tsx
  frontend/components/AuthButton.tsx
  frontend/components/EcoBadge.tsx
  frontend/components/Header.tsx
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/types/d.ts
Labels: ✨ feat, 👀 Backend, 👣 Frontend, 🔧 chore

#33 ✨ feat: 백엔드 마이페이지 개인정보 수정 및 삭제 로직 구현
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/MypageController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/PatchMyInfoRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/ProfileRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/entity/User.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/repository/UserRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/init/BaseInitData.java
  backend/src/main/java/com/snackoverflow/toolgether/global/util/Util.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/snackoverflow/toolgether/MypageControllerTest.java
Labels: ✨ feat, 👀 Backend

#36 ✨ feat: 공구 대여 검색 필터링 조회 백엔드 기능 추가 (#27)
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/controller/PostController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostSearchRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/PostRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/PostRepositoryCustom.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/impl/PostRepositoryImpl.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/PostService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/impl/PostServiceImpl.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/QueryDslConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/BadRequestException.java
  backend/src/main/java/com/snackoverflow/toolgether/global/exception/NotFoundException.java
  backend/src/main/resources/application.yml
Labels: ✨ feat, 👀 Backend

#45 ✨ feat: 일반 회원가입 로직 구현 및 프론트 코드 추가 issue: #7
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/SignupRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/OauthService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/VerificationService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/SecurityConfig.java
  frontend/app/login/page.tsx
  frontend/app/signup/ClientPage.tsx
  frontend/app/signup/page.tsx
Labels: ✨ feat, 👀 Backend, 👣 Frontend, ♻️ refactor

#47 ♻️ Refactor: 토큰 발행 방식 변경 issue: #46
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/CustomUserDetails.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/snackoverflow/toolgether/global/util/JwtUtil.java
Labels: 👀 Backend, ♻️ refactor

#49 ✨ feat: 마이페이지 로그인 해야 접속 가능하게 수정, 정보 수정 시 주소 검색 및 검증 추가, 이메일 수정 못하게 변경, 중복 확인 …
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/MypageController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/PatchMyInfoRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/entity/User.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/repository/UserRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  frontend/app/mypage/ClientPage.tsx
  frontend/app/mypage/edit/ClientPage.tsx
  frontend/app/mypage/edit/page.tsx
  frontend/app/mypage/page.tsx
Labels: ✨ feat, 👣 Frontend

#50 [FEAT] 예약 상세 페이지 작성 + 스케줄 로직 추가
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/entity/ReturnReason.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/job/CompleteRentalJob.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/job/StartRentalJob.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/entity/ReservationStatus.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/repository/ReservationRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/QuartzConfig.java
  backend/src/main/resources/application.yml
  frontend/app/mypage/reservationDetail/[id]/ClientPage.tsx
  frontend/app/mypage/reservationDetail/[id]/page.tsx
Labels: ✨ feat, 👀 Backend, 👣 Frontend

#52 ✨ feat: 리프레시 토큰으로 액세스 토큰 재발급 issue: #51
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/OauthService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/SecurityConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/GoogleAccessTokenFilter.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/JwtAuthenticationFilter.java
  frontend/app/additional-info/ClientPage.tsx
  frontend/app/lib/util/fetchWithAuth.js
  frontend/app/login/page.tsx
  frontend/app/test/page.tsx
Labels: ✨ feat, 👀 Backend, 👣 Frontend

#54 [FEAT] 예약 테이블 동시성 문제 해결
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.java
  backend/src/test/java/com/snackoverflow/toolgether/ReservationControllerTest.java
  backend/src/test/java/com/snackoverflow/toolgether/ReservationServiceTest.java
Labels: ✨ feat, 👀 Backend, ✅ test

#58 ✨ feat: 리뷰 프론트 작성 및 연결, baseInitData 수정, 리뷰 API 버그 수정, 기존 fetch 대신 fetchWithAuth 적용, fetchWithAuth 수정
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/controller/ReviewController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/dto/request/ReviewRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/service/ReviewService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/MypageController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/dto/request/ProfileRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/global/init/BaseInitData.java
  backend/src/test/java/com/snackoverflow/toolgether/MypageControllerTest.java
  backend/src/test/java/com/snackoverflow/toolgether/ReviewControllerTest.java
  frontend/app/lib/util/fetchWithAuth.js
  frontend/app/mypage/ClientPage.tsx
  frontend/app/mypage/edit/ClientPage.tsx
  frontend/app/mypage/reservationDetail/[id]/review/CllientPage.tsx
  frontend/app/mypage/reservationDetail/[id]/review/page.tsx
  frontend/components/ReviewScoreIcon.tsx
Labels: ✨ feat, 👀 Backend, 👣 Frontend, 🐛 fix

#59 ✨ feat: 공구 대여 검색 필터링 조회 프론트 페이지 추가 (#42)
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/controller/PostController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/entity/Post.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/PostRepositoryCustom.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/impl/PostRepositoryImpl.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/PostService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/impl/PostServiceImpl.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/dto/PostAvailabilityResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/entity/PostImage.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/MypageController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/OauthService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/SecurityConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/GoogleAccessTokenFilter.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/JwtAuthenticationFilter.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/snackoverflow/toolgether/ReservationControllerTest.java
  backend/src/test/java/com/snackoverflow/toolgether/ReservationServiceTest.java
  frontend/app/additional-info/ClientPage.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/posts/[id]/page.tsx
  frontend/app/posts/page.tsx
  frontend/app/test/page.tsx
Labels: ✨ feat, 👣 Frontend

#56 ✨ feat: 리뷰 API 작성 및 테스트 코드 작성, 모든 mypage, review 테스트에 사용자 인증 추가, baseIniData 수정, 이미지 업로드 api에 필요없는 DTO 제거
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/controller/ReviewController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/OauthService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/SecurityConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/GoogleAccessTokenFilter.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/JwtAuthenticationFilter.java
  frontend/app/additional-info/ClientPage.tsx
  frontend/app/login/page.tsx
  frontend/app/test/page.tsx
Labels: ✨ feat, 👀 Backend, ♻️ refactor, ✅ test

#64 ✨ feat: 유저 점수 집계 로직, 테스트 추가, 매주 월요일 스케쥴링 추가 #63
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/ToolgetherApplication.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/entity/Review.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/scheduler/ReviewScoreScheduler.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/scheduler/lock/entity/SchedulerLock.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/scheduler/lock/repository/SchedulerLockRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/service/ReviewService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/entity/User.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/repository/UserRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/AwsConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/init/BaseInitData.java
  backend/src/main/java/com/snackoverflow/toolgether/global/util/ScheduleUtil.java
  backend/src/test/java/com/snackoverflow/toolgether/MypageControllerTest.java
  backend/src/test/java/com/snackoverflow/toolgether/ReviewScoreSchedulerTest.java
  frontend/app/mypage/edit/ClientPage.tsx
Labels: ✨ feat, 👀 Backend, 👣 Frontend, ♻️ refactor

#68 [FEAT] 페이지 간 연결, 대여 시작/종료 버튼 추가 (FEAT #66)
  frontend/app/mypage/reservationDetail/[id]/ClientPage.tsx
  frontend/app/posts/[id]/reservation/ClientPage.tsx
  frontend/app/posts/[id]/reservation/CustomCalendar.css
  frontend/app/posts/[id]/reservation/DataBox.tsx
  frontend/app/posts/[id]/reservation/complete/ClientPage.tsx
  frontend/app/posts/[id]/reservation/complete/page.tsx
  frontend/app/posts/[id]/reservation/page.tsx
  frontend/app/reservation/page.tsx
Labels: ✨ feat, 👣 Frontend

#70 feat: 공구 대여 검색 필터링 조회 프론트 페이지 추가 (#69)
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/OauthService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/SecurityConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/GoogleAccessTokenFilter.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/JwtAuthenticationFilter.java
  frontend/.env.local
  frontend/.gitignore
  frontend/app/additional-info/ClientPage.tsx
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/posts/[id]/page.tsx
  frontend/app/posts/create/page.tsx
  frontend/app/posts/page.tsx
  frontend/app/test/page.tsx
Labels: ✨ feat, 👣 Frontend

#73 ♻️ Refactor: 변수 설정 변경
  frontend/app/mypage/reservationDetail/[id]/ClientPage.tsx
  frontend/app/posts/[id]/reservation/ClientPage.tsx
  frontend/app/posts/[id]/reservation/complete/page.tsx
Labels: 👣 Frontend, ♻️ refactor

#75 Refactor/fe/mypage
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/controller/ReviewController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/MypageController.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/SecurityConfig.java
  frontend/app/mypage/ClientPage.tsx
  frontend/app/mypage/edit/ClientPage.tsx
  frontend/app/mypage/page.tsx
  frontend/app/mypage/reservationDetail/[id]/review/CllientPage.tsx
  frontend/components/Header.tsx
Labels: 👀 Backend, 👣 Frontend, 🐛 fix, ♻️ refactor

#78 [Fix] 프론트 배포 에러 수정
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/JwtAuthenticationFilter.java
  frontend/.env
  frontend/.env.local
  frontend/app/posts/create/page.tsx
  frontend/app/posts/page.tsx
Labels: 👣 Frontend, 🐛 fix

#90 Feat: 채팅 추가 및 프론트 수정
  backend/build.gradle
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/controller/PostController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/MailService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/ChatWebSocketHandler.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/CustomHandshakeInterceptor.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/WebSocketConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/controller/ChatController.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/dto/ChatMessage.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/dto/CommunityMessage.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/redis/RedisConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/redis/RedisPublisher.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/redis/RedisSubscriber.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/redis/TopicFactory.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/service/ChannelSessionService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/service/ChatService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/service/TopicSubscriptionService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/SecurityConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/util/JwtUtil.java
  frontend/app/additional-info/ClientPage.tsx
  frontend/app/chat/community/[region]/page.tsx
  frontend/app/chat/community/page.tsx
  frontend/app/chat/page.tsx
  frontend/app/globals.css
  frontend/app/lib/auth-context.tsx
  frontend/app/lib/util/fetchWithAuth.js
  frontend/app/login/page.tsx
  frontend/app/mypage/ClientPage.tsx
  frontend/app/mypage/edit/ClientPage.tsx
  frontend/app/mypage/reservationDetail/[id]/ClientPage.tsx
  frontend/app/mypage/reservationDetail/[id]/review/ClientPage.tsx
  frontend/app/mypage/reservationDetail/[id]/review/CllientPage.tsx
  frontend/app/mypage/reservationDetail/[id]/review/page.tsx
  frontend/app/page.tsx
  frontend/app/posts/ClientPage.tsx
  frontend/app/posts/[id]/page.tsx
  frontend/app/posts/[id]/reservation/ClientPage.tsx
  frontend/app/posts/[id]/reservation/CustomCalendar.css
  frontend/app/posts/[id]/reservation/DataBox.tsx
  frontend/app/posts/[id]/reservation/complete/ClientPage.tsx
  frontend/app/posts/create/page.tsx
  frontend/app/posts/page.tsx
  frontend/app/signup/ClientPage.tsx
  frontend/components/AuthButton.tsx
  frontend/components/Header.tsx
  frontend/next.config.ts
  frontend/package.json
Labels: ✨ feat, 👀 Backend, 👣 Frontend, 🐛 fix, ♻️ refactor, 🔧 chore

#89 ✨ feat: 헤더에 프로필이미지 조회하도록 추가 #88
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/UserService.java
  frontend/components/Header.tsx
Labels: ✨ feat, 👀 Backend, 👣 Frontend

#100 ♻️ Refactor: 예약 잠금 로직 추가 및 설정 변경 + 불필요 import 제거
  .gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/controller/DepositController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/dto/DepositResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/repository/DepositRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/deposit/service/DepositService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/job/CompleteRentalJob.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/job/StartRentalJob.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/controller/PostController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostSearchRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/PostRepositoryCustom.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/repository/impl/PostRepositoryImpl.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/service/impl/PostServiceImpl.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/controller/PostAvailabilityController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postavailability/service/PostAvailabilityService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/postimage/controller/PostImageController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/dto/ReservationResponse.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/repository/ReservationRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/controller/ReviewController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/entity/Review.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/review/service/ReviewService.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/entity/User.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/repository/UserRepository.java
  backend/src/main/java/com/snackoverflow/toolgether/global/config/SecurityConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/CustomUserDetails.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/JwtAuthenticationFilter.java
  backend/src/main/resources/application.yml
  docker-compose.yml
Labels: ✨ feat, 👀 Backend, 🐛 fix, 💄 style, 🔧 chore

#102 ✨ feat: 액세스 토큰 - 리프레시 토큰 발급 로직 강화
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/controller/UserOauthController.java
  backend/src/main/java/com/snackoverflow/toolgether/domain/user/service/OauthService.java
  backend/src/main/java/com/snackoverflow/toolgether/global/filter/GoogleAccessTokenFilter.java
  backend/src/main/resources/application.yml
Labels: 👀 Backend, ♻️ refactor, 🔧 chore

#104 ✨ feat: 채팅 논리 삭제 구현 및 자잘한 수정
  backend/src/main/java/com/snackoverflow/toolgether/domain/post/dto/PostSearchRequest.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/WebSocketConfig.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/controller/ChatController.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/dto/ChatMessage.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/redis/RedisPublisher.java
  backend/src/main/java/com/snackoverflow/toolgether/global/chat/service/ChatService.java
  frontend/app/chat/page.tsx
  frontend/app/lib/util/fetchWithAuth.js
  frontend/app/posts/ClientPage.tsx
Labels: ✨ feat, 👀 Backend, ♻️ refactor
